@model IEnumerable<YourNamespace.Models.Insuree>

@{
    ViewBag.Title = "Insuree List";
}

<h2>Insuree List</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Car Year</th>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Speeding Tickets</th>
        <th>Has DUI</th>
        <th>Coverage Type</th>
        <th>Quote</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.Age)</td>
        <td>@Html.DisplayFor(modelItem => item.CarYear)</td>
        <td>@Html.DisplayFor(modelItem => item.CarMake)</td>
        <td>@Html.DisplayFor(modelItem => item.CarModel)</td>
        <td>@Html.DisplayFor(modelItem => item.SpeedingTickets)</td>
        <td>@Html.DisplayFor(modelItem => item.HasDUI)</td>
        <td>@Html.DisplayFor(modelItem => item.CoverageType)</td>
        <td>@Html.DisplayFor(modelItem => item.Quote)</td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New Insuree", "Create")
</p>
